@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1nlmie');
  src:  url('fonts/icomoon.eot?1nlmie#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1nlmie') format('truetype'),
    url('fonts/icomoon.woff?1nlmie') format('woff'),
    url('fonts/icomoon.svg?1nlmie#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_right:before {
  content: "\e900";
}
.icon-keyboard_arrow_left:before {
  content: "\e901";
}
.icon-bell-off1:before {
  content: "\e936";
}
.icon-bell1:before {
  content: "\e937";
}
.icon-moon:before {
  content: "\e920";
}
.icon-search:before {
  content: "\e921";
}
.icon-menu:before {
  content: "\e922";
}
.icon-heart:before {
  content: "\e923";
}
.icon-chevrons-up:before {
  content: "\e924";
}
.icon-chevrons-right:before {
  content: "\e925";
}
.icon-chevrons-left:before {
  content: "\e926";
}
.icon-chevrons-down:before {
  content: "\e927";
}
.icon-chevron-right:before {
  content: "\e928";
}
.icon-chevron-left:before {
  content: "\e929";
}
.icon-chevron-down1:before {
  content: "\e92a";
}
.icon-chevron-up:before {
  content: "\e92b";
}
.icon-trash-2:before {
  content: "\e92c";
}
.icon-delete:before {
  content: "\e92d";
}
.icon-trash:before {
  content: "\e92e";
}
.icon-edit-3:before {
  content: "\e92f";
}
.icon-edit-2:before {
  content: "\e930";
}
.icon-credit-card:before {
  content: "\e931";
}
.icon-edit1:before {
  content: "\e932";
}
.icon-eye-off:before {
  content: "\e933";
}
.icon-eye:before {
  content: "\e934";
}
.icon-list:before {
  content: "\e935";
}
.icon-x-octagon:before {
  content: "\e91d";
}
.icon-octagon:before {
  content: "\e91e";
}
.icon-alert-octagon:before {
  content: "\e91f";
}
.icon-edit:before {
  content: "\e91c";
}
.icon-settings:before {
  content: "\e90e";
}
.icon-map-pin:before {
  content: "\e90f";
}
.icon-map:before {
  content: "\e910";
}
.icon-bar-chart-2:before {
  content: "\e911";
}
.icon-bar-chart:before {
  content: "\e912";
}
.icon-pie-chart:before {
  content: "\e913";
}
.icon-image:before {
  content: "\e914";
}
.icon-file-plus:before {
  content: "\e915";
}
.icon-users1:before {
  content: "\e916";
}
.icon-user-plus:before {
  content: "\e917";
}
.icon-user:before {
  content: "\e918";
}
.icon-box:before {
  content: "\e919";
}
.icon-layers:before {
  content: "\e91a";
}
.icon-shopping-cart:before {
  content: "\e91b";
}
.icon-trending-up:before {
  content: "\e902";
}
.icon-trending-down:before {
  content: "\e903";
}
.icon-chevron-down:before {
  content: "\e904";
}
.icon-users:before {
  content: "\e905";
}
.icon-dollar-sign:before {
  content: "\e906";
}
.icon-shopping-bag:before {
  content: "\e907";
}
.icon-message-square:before {
  content: "\e908";
}
.icon-message-circle:before {
  content: "\e909";
}
.icon-bell-off:before {
  content: "\e90a";
}
.icon-bell:before {
  content: "\e90b";
}
.icon-star-half-empty:before {
  content: "\e90c";
}
.icon-star1:before {
  content: "\e90d";
}
